ALLOWED_ORIGINS=http://localhost:3000,https://angela-zhang.org,https://www.angela-zhang.org
BOOKING_OWNER_EMAIL=angela@pier-finance.com
BOOKING_DEFAULT_TIME_ZONE=America/Vancouver
BOOKING_MIN_NOTICE_MINUTES=120
BOOKING_MAX_ADVANCE_DAYS=21
BOOKING_BUFFER_MINUTES=15
BOOKING_WORKING_HOURS_JSON={"1":[["09:00","17:00"]],"2":[["09:00","17:00"]],"3":[["09:00","17:00"]],"4":[["09:00","17:00"]],"5":[["09:00","16:00"]]}
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=
GOOGLE_BOOKING_CALENDAR_ID=
GOOGLE_FREEBUSY_CALENDAR_IDS=
