# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
scheduler-api/node_modules/

# testing
/coverage

# production
/build

# local environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
scheduler-api/.env
client_secret_454628030961-4fhqdl740cdvfevvtianjpnekefojiri.apps.googleusercontent.com.json

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
